venv# Virtual environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# IDE/editor folders
.vscode/
.idea/

# Environment files
.env

# Logs
*.log

# Generated csv's
*.csv

# OS-specific files
.DS_Store
Thumbs.db

database_conversion/
